@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Raleway:100,400,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);


body{
	background: url(http://www.elobservadoreconomico.com/files/articulo/1277755972_ONArtesanias16.JPG);
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family:Raleway, Open Sans, Droid Sans, Roboto,arial, sans-serif;
}

.blurred-bg{

	background: black;
	opacity: 0.6;
	background-repeat:no-repeat;
	background-attachment: fixed;
}

.box{
	width:500px;
	height:300px;
  	left:-webkit-calc( 50% - 250px );
  	top:20%;
	position:absolute;
	border-radius:5px;
	border:1px solid rgba(0,0,0,.3);
	padding:20px;
	text-align: center;
	text-shadow:0 1px 1px rgba(0,0,0,.4);  
  	.content{
    margin: auto;
  }
}

h1,h2,a,p{
	color:white;
	font-weight:500;
	padding-left: 15px;
  
	.tinted &{
		color:white;
		text-shadow:0 1px 1px rgba(255,255,255,.1);
	}
}
h2{ font-size: 18px }


.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position:absolute;
	left: 34%;
	padding: 10px 40px;
  	margin: 10px 10px 10px 10px;
  	float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;	
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}
